html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
body {
  position: relative;
  min-height: 100%;
  background-color: #EEF7EE;
  backgqround-image: url(http://api.thumbr.it/whitenoise-10x10.png?background=292929ff&noise=3be370&density=2&opacity=19);
  background-repeat: repeat;
  overflow: scroll;

}
.navbar{
  background-color: #333 !important;
  border:none;
  border-radius: 0;
  color: white;
  -webkit-box-shadow: -1px -4px 12px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -4px 12px 5px rgba(0,0,0,0.75);
  box-shadow: -1px -4px 12px 5px rgba(0,0,0,0.75);
  padding: 1em 0 0.7em 0;
}
.index-link{
  text-decoration: none !important;
}
.active{
  border: 2px solid #3AE470;
  border-radius: 2px;
}
.navbar-right{
  position: absolute;
  right: 2em;
}
.navbar-default .navbar-nav>.active>a{
  background-color: #333 !important;
  color: white;
}
.navbar-default .navbar-nav>li>a:hover{
  color:white;
}
h2{
    align-content: center;
    text-align: center;
    padding-bottom: 1px;
    font-size: 3rem;
    font-weight: 100;
    color: black;
}
h1{
    font-size: 2.5em;
    font-weight: 100;
    color: #3AE470;
    margin: 0.1em 0 0 0.4em;
}
.subtitle{
  text-decoration: none !important;
  font-weight: 100;
  color: #F4695D;
  margin: 0.1em 0 0 0.4em;
}
.main{
  width:100%;
}
#words-div {
    margin-top: 2rem;
}
#wordspace {
    width: 100%;
    height: 15em;
    color: #3AE470;
    border:none;
    background-color: #444;
    font-size: 1.5em;
    font-weight: 100;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 2px;
}
#wordspace:focus {
  box-shadow: 0 0 5px #3AE470;
  border: 1px solid #3AE470;
}
#define {
    text-align: center;
}
.button {
    margin: 1em;
    text-align: center;
    padding-bottom: 1px;
    font-size: 2em;
    font-weight:130;
    color: rgba(255, 255, 255, 0.9);
    width: 5em;
    background-color: rgba(0, 197, 74, 0.7);
    border: 1px solid #37D369;
    border-radius: 5px;
}
.button:hover{
  background-color: #37D369;
  color: white;
}
.button:active{
  border:none;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
}
.footer {
   position: absolute;
   background-color: #333;
   padding: 10px 0 0 0;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   text-align: center;
   font-weight: 100;
}
.footerlink{
  color: #3AE470;
  cursor: pointer;
}
@media screen and (max-device-width: 500px) {
  .navbar-right{
    position: relative;
    right: auto;
  }
  .subtitle{
    color: #F65345;
  }
  h1{
    font-size: 2.5em;
  }
  h1, .subtitle{
    text-align:center;
  }
  #wordspace{
    height: 12em;
    font-size: 0.9em;
  }
  h2{
    font-size: 1.3em;
    font-weight: normal;
  }
  .button{
    font-size: 1.5em;
  }
  .footer{
    font-size: 0.9em;
  }
}
